extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style 
        include ../static/style.css 
        include ../static/stylecontact.css 
        include ../static/about.css

block content
    h1 About Us
    div#apara
        p Welcome to the About Page of DG Dance Academy! We are thrilled to share our story and passion for dance with you.
        <br>
        p DG Dance Academy is a renowned dance institution dedicated to providing exceptional dance education and fostering a vibrant community of dancers. With a rich history spanning over a decade, we have established ourselves as a leader in dance training, nurturing talent and inspiring excellence in dancers of all ages and skill levels.
        <br>
        p Our academy is founded on the belief that dance is a powerful art form that has the ability to transform lives. We are committed to offering a comprehensive curriculum that combines rigorous technique, artistic expression, and creative exploration. Our team of highly skilled and experienced instructors are dedicated to guiding and mentoring our students, ensuring they receive the highest quality training in a supportive and nurturing environment.
        <br>
        p At DG Dance Academy, we embrace diversity and celebrate the unique talents and backgrounds of our dancers. We believe that every individual has the potential to shine and we strive to create a space where everyone feels welcome, valued, and inspired. We are passionate about fostering a sense of community and teamwork among our students, encouraging them to learn from each other and build lifelong friendships.
        <br>
        p Our state-of-the-art facilities provide the ideal environment for dancers to thrive. Equipped with spacious studios and cutting-edge technology, we create an optimal learning experience that enhances our students' growth and development. We offer a wide range of dance styles, including ballet, jazz, hip-hop, contemporary, tap, and more, catering to the diverse interests and aspirations of our dancers.
        <br>
        p DG Dance Academy is not just a place to learn dance; it's a place where dreams are nurtured, creativity flourishes, and lifelong memories are made. We are proud of our students' accomplishments, whether it be participating in prestigious competitions, performing on renowned stages, or pursuing dance as a professional career. Our alumni have gone on to achieve remarkable success, and we continue to support and cheer on their journeys.
        <br>
        p We invite you to join our dance family at DG Dance Academy. Whether you are a beginner taking your first steps or an experienced dancer looking to elevate your skills, we have a program tailored to meet your needs. Explore our website, learn more about our classes and faculty, and embark on a transformative dance journey with us.
        <br>
        p Thank you for visiting our About Page. We look forward to dancing with you and being a part of your dance story at DG Dance Academy.