doctype html
html
  head
    title DG Dance Academy
    block scripts
    block style
  body
    nav#navbar
            ul  
                div#logo
                    img(src="finallogo.jpg", alt="logo")
                    | DDA
                li #[a(href="/") Home]
                li #[a(href="/about") About] 
                li #[a(href="/service") Services] 
                li #[a(href="/class") ClassInfo]
                li #[a(href="/contact") Contact Us]

    block content
    footer#footer
            |Copyright &copy; www.DGDanceAcademy.com 
            ||All Right Reserved (2023)<br>  
            |Contact :+91 8141625502 <br>
            |Email : darshanvasani13@gmail.com
