extends base.pug

block scripts
  script(src='index.js')

block style
    style 
        include style.css 
        include stylecontact.css 

block content
    h1 Contact Us
    form(action="/contact", method="post",class="myForm") 
        input(type="text",class="myInput",name="name",placeholder="Enter Your Name")
        input(type="tel",class="myInput",name="phone",placeholder="Enter Your Mobile No.")
        input(type="email",class="myInput",name="email",placeholder="Enter Your Email")
        input(type="text",class="myInput",name="address",placeholder="Enter Your Address")
        input(type="text",class="myInput",name="desc",placeholder="Enter Your Concern")
        button(type="submit",class="btn")
            |Submit 
