extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style 
        include ../static/style.css
        include ../static/stylecontact.css 
        include ../static/about.css

        include ../static/service.css

block content
    h1 Our Services
    div#conatiner
        div.card 
            h3 Dance Classes
            div.card-box
                //- div.card-img 
                //-     img(src="/static/image/1.webp")
                div.card-content
                    p At DG Dance Academy, we offer a wide range of dance classes for dancers of all ages and skill levels. Our expert instructors provide comprehensive training in various styles such as ballet, jazz, hip-hop, contemporary, tap, and more. Whether you're a beginner looking to discover the joy of dance or an advanced dancer aiming to refine your technique, our classes cater to your individual needs and aspirations.
        div.card 
            h3 Private Lessons
            div.card-box
                //- div.card-img 
                //-     img(src="/static/image/1.webp")
                div.card-content
                    p or dancers seeking personalized attention and accelerated progress, we provide private lessons. Our experienced instructors work closely with students to tailor the curriculum to their specific goals and abilities. Whether you're preparing for auditions, competitions, or simply want to refine your skills, our one-on-one instruction allows for focused guidance, feedback, and individualized training.
        div.card 
            h3 Performance Opportunities
            div.card-box
                //- div.card-img 
                //-     img(src="/static/image/1.webp")
                div.card-content
                    p We believe in the power of performance to showcase dancers' talents and build their confidence. DG Dance Academy offers various performance opportunities throughout the year, including annual recitals, showcases, and community events. These experiences allow our students to shine on stage, apply their skills in a live setting, and create lasting memories.
        div.card 
            h3 Workshops and Masterclasses
            div.card-box
                //- div.card-img 
                //-     img(src="/static/image/1.webp")
                div.card-content
                    p To enrich our dancers' training and expose them to diverse perspectives, we organize workshops and masterclasses with renowned guest instructors and choreographers. These special events provide valuable learning opportunities, allowing students to explore new techniques, styles, and artistic approaches beyond their regular classes.
        div.card 
            h3 Dance Camps and Intensives
            div.card-box
                //- div.card-img 
                //-     img(src="/static/image/1.webp")
                div.card-content
                    p During school breaks and summer vacations, we offer dance camps and intensives designed to immerse students in an intensive training experience. These programs focus on honing technique, expanding repertoire, and fostering artistic growth. With a combination of rigorous training, choreography workshops, and performance opportunities, our dance camps and intensives provide a transformative learning experience.
        div.card 
            h3 Choreography Services
            div.card-box
                //- div.card-img 
                //-     img(src="/static/image/1.webp")
                div.card-content
                    p DG Dance Academy also offers choreography services for special events, performances, or competitions. Our skilled choreographers work closely with individuals, groups, or teams to create captivating and tailor-made dance routines that highlight their unique strengths and abilities. Whether it's a solo performance, group routine, or even a wedding dance, our choreography services help bring your vision to life.